.eerste-p-p {

    background-color: red;
    font-family : Algerian;


}

.tweede-p{

    background-color: aquamarine;
    font-family: "Arabic Typesetting", serif;

}
.derde-p{

    background-color: aqua;
    font-family : "Berlin Sans FB";

}
.fierde-p {

    background-color: aliceblue;
    font-family : Cambria;

}
.vijfde-p {

    background-color: blue;
    font-family : fantasy;

}
